@import url('https://fonts.googleapis.com/css2?family=Lato:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Nanum+Gothic:100,200,300,400,500,600,700')



/* ------------------------heading1 */

header {
    margin:0;
}

/* colours */

.bg-color-name-slogan {
    background-color: rgba(113,145,179,0.7);
    color: #fff;
}


.bg-color-mind-body-general {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: #a6c9f1; 
    color: #fff
}

.ui-menu-color-message-board {
    background-color: #a6c9f1; 
    color: #fff
}

.ui-menu-color-FAQs {
    background-color: #a6c9f1; 
    color: #fff;
}

.ui-menu-color-contact {
    background-color: #a6c9f1; 
    color: #fff
}

/* ------------------------special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}



.inline-block {
    display: inline-block
}

.row-table {
    display: table;
}

.row {
    margin-right: 0rem;
}

.section-column {
    display: table-cell;
    padding: 0 	1.875rem 1.875rem;
}


/* -------------------------heading2 */

.navbar.navbar-expand-lg.navbar-light.bg-light{
    width: 25%;
    
}


h2 {
    font-family: "Lato";
    color: #777777;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

#logo {
    font-weight: 75;
    padding-left: 1.875rem;
}

#hero-image {
    background: url("../images/Canva.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    animation-name: hero-zoom; 
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.bg-color-name-slogan {
    padding: 1.875rem;
    font-size: 10vw;

}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

h2 {
    font-size: 2vw;
}

.name {
    font-family: "Lato", sans-serif;
    font-weight: 75;
    font-size: 1.5625rem;
    margin-top: 2.1875rem;
    padding-left: 0.625rem;
    color: #fff;
}

.slogan {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    padding-left: 0.625rem;
    color: #fff;
}

.outline {
    font-family: "Lato", sans-serif;
    font-weight: 90;
    font-size: 1.125rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    padding-left: 0.625rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: .875rem;
    padding: 0;
}

.menuitem {
    height: 7.5rem;
    text-align:center;
    padding:0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 7.5rem;
}

.menuitem a i {
    padding-top: 1.375rem;
    display: block;
    color: #fafafa;
    font-size: 1.625rem;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 0.3125rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
}

/* -------------------------hover.css */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 7.5rem;
}

/* -------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    max-height: 3.125rem;
    margin:0;
    text-align: center;
}

.footer {
    color: #fafafa;
    padding-bottom: 0.625rem;
    text-align: center;
    
}

.footer-title {
    font-size: 0.625rem;
    text-align: center;
}




/* ------------------------Back to top button*/

.sticky-top{
    position: sticky;
    bottom: 0;
}

/* ------------------------Mind, Body, How can I help? */
h4 {
    color: #5e696e; 
    font-family: "Lato", sans-serif;
}

.mind-title {
    padding-top 1.875rem;
    padding-bottom: 1.875rem;
}

.body-title {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.how-title {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.section-sub-header{
    padding-top: 0.9375rem;
}

.how-section {
    color: #5e696e; 
    font-family: "Lato", sans-serif;
    padding-bottom: 1.25rem;
    letter-spacing: 0.3125rem;
}



.mind-section {
    color: #5e696e; 
    font-family: "Lato", sans-serif;
    padding-bottom: 1.25rem;
    letter-spacing: 0.3125rem;
}

.body-section {
    color: #5e696e; 
    font-family: "Lato", sans-serif;
    padding-bottom: 1.25rem;
    letter-spacing: 0.3125rem;
}

h6 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    letter-spacing: 0.125rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.125rem solid;
    border-bottom-color: rgba(214, 127, 87, 0.34);

}

.outline-text {
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
}

hr{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.mind-body-how-icon{
    color: #d67f57a2;
    margin-left: 0.3125rem;
}

.mind-body-heading {
    margin-bottom: 0.9375rem;
    margin-top: 1.875rem;
    padding-top: 	3.125rem;
    padding-bottom: 0.625rem;
    text-align: center;
    letter-spacing: 0.3125rem;
}


.how-can-i-help {
    align-content: center;
}

.section-content {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 0.9375rem;
    letter-spacing: 0rem;
}

#think-you-can-help {
    background-color: rgba(250, 255, 158, 0.51);
   margin-top: 0.9375rem;
   text-align: center;
}


/* -------------------------Message Board */

.messagebox {
    border: 0.1875rem solid #919aa5;
    background-color: #f5f3f3;
    border-radius: 0.1875rem;
    padding: 0.625rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    box-shadow: 0.3125rem 0.625rem #a6c9f1;
   
}

.username {
    font-weight: bold;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.0625rem;
}

.comment {
    font-family: "Nanum Gothic", sans-serif;

}

.time {
    color: #777777
}

#comment-box {
    font-family: "Lato", sans-serif;
    color: #4f647d;
    letter-spacing: 0.0625rem;
    margin-top: 1.25rem;
    
}


/* -------------------------FAQs */
 #video-mind-active {
     padding-top: 1.25rem;
    padding-bottom: 1.25rem;
 }


/* -------------------------contact */
#useful-links {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.0625rem;
    color: #4f647d;
    margin-bottom: 0.9375rem;
}

.coronavirus-general {
    border-style: solid;
    border-color: #a6c9f1;
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    margin-bottom: 2.5rem;
    box-shadow: 0.125rem 0.125rem #4f647d;
}

#coronavirus-heading {
    font-family: "Lato", sans-serif;
    font-weight: 80%;
    text-align: center;
}

.mental-health-line {
    border-style: solid;
    border-color: #a6c9f1;
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    margin-bottom: 2.5rem;
    box-shadow: 0.125rem 0.125rem #4f647d;
}

#health-line-heading {
    font-family: "Lato", sans-serif;
    font-weight: 80%;
    text-align: center;
}

.volunteer {
    border-style: solid;
    border-color: #a6c9f1;
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    margin-bottom: 2.5rem;
    box-shadow: 0.125rem 0.125rem #4f647d;
}

#volunteer-heading {
    font-family: "Lato", sans-serif;
    font-weight: 80%;
    text-align: center;
}

.link-info {
    padding-bottom: 2.5rem;
}