@import url('https://fonts.googleapis.com/css2?family=Lato:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Nanum+Gothic:100,200,300,400,500,600,700')



/* ------------------------heading1 */

header {
    margin:0;
}

/* colours */

.bg-color-name-slogan {
    background-color: rgba(113,145,179,0.7);
    color: #fff;
}


.bg-color-mind-body-general {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: #a6c9f1; 
    color: #fff
}

.ui-menu-color-message-board {
    background-color: #a6c9f1; 
    color: #fff
}

.ui-menu-color-FAQs {
    background-color: #a6c9f1; 
    color: #fff;
}

.ui-menu-color-contact {
    background-color: #a6c9f1; 
    color: #fff
}

/* ------------------------special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}



.inline-block {
    display: inline-block
}

.row-table {
    display: table;
}

.row {
    margin-right: 0px;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* -------------------------heading2 */

.navbar.navbar-expand-lg.navbar-light.bg-light{
    width: 32%;
    float: right;
    
}

.heading {
    margin-left: 50px;
}

h2 {
    font-family: "Lato";
    color: #777777;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 30px;
}

#hero-image {
    background: url("../images/Canva.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    animation-name: hero-zoom; 
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.bg-color-name-slogan {
    width: 900px;
    height: 300px;
    bottom: 60px;
    right: 100px;
    position: absolute;

}

.name {
    font-family: "Lato", sans-serif;
    font-weight: 75;
    font-size: 30px;
    margin-top: 35px;
    padding-left: 10px;
    color: #fff;
}

.slogan {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    color: #fff;
}

.outline {
    font-family: "Lato", sans-serif;
    font-weight: 90;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 40px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align:center;
    padding:0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* -------------------------hover.css */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* -------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    max-height: 50px;
    margin:0;
    text-align: center;
    
}

.footer {
    color: #fafafa;
    padding-bottom: 10px;
    
}

.footer-text {
    font-size: 10px;
}

/* ------------------------Back to top button*/

.sticky-top{
    position: sticky;
    bottom: 0;
    float: right;
}

/* ------------------------Mind, Body, How can I help? */
h4 {
    color: #5e696e; 
    font-family: "Lato", sans-serif;
}

.how-section {
    color: #5e696e; 
    font-family: "Lato", sans-serif;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.mind-section {
    color: #5e696e; 
    font-family: "Lato", sans-serif;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.body-section {
    color: #5e696e; 
    font-family: "Lato", sans-serif;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

h6 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 8px;
    border-bottom: 2px solid;
    border-bottom-color: rgba(214, 127, 87, 0.34);

}

.outline-text {
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
}

hr{
    padding-top: 5px;
    padding-bottom: 5px;
}

.mind-body-how-icon{
    color: #d67f57a2;
    margin-left: 5px;
}

.mind-body-heading {
    margin-bottom: 15px;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 5px;
}


.how-can-i-help {
    align-content: center;
}

.section-content {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
}

#think-you-can-help {
    background-color: rgba(250, 255, 158, 0.51);
   margin-top: 15px;
   text-align: center;
}


/* -------------------------Message Board */

.messagebox {
    border: 3px solid #919aa5;
    background-color: #f5f3f3;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.username {
    font-weight: bold;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}

.comment {
    font-family: "Nanum Gothic", sans-serif;

}

.time {
    color: #777777
}

/* -------------------------FAQs */
 #video-mind-active {
     padding-top: 20px;
    padding-bottom: 20px;
 }
