@import url('https://fonts.googleapis.com/css2?family=Lato:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700')


/* ------------------------heading1 */

header {
    margin:0;
}

/* colours */

.bg-color-name-slogan {
    background-color: #7391b3;
    color: #fff;
}


.bg-color-mind-body-general {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: #a6c9f1; 
    color: #fff
}

.ui-menu-color-message-board {
    background-color: #a6c9f1; 
    color: #fff
}

.ui-menu-color-FAQs {
    background-color: #a6c9f1; 
    color: #fff;
}

.ui-menu-color-contact {
    background-color: #a6c9f1; 
    color: #fff
}

/* ------------------------special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* -------------------------heading2 */

.heading {
    margin-left: 50px;
}

.heroimage {
    background: url("../images/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    min-height: 600px;
    width: 100%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.slogan {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.outline {
    font-family: "Lato", sans-serif;
    font-weight: 90px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align:center;
    padding:0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* -------------------------hover.css */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* -------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin:0;
}

/* -------------------------Footer */

.mind-body-general-icon {
    font-size: 20px;
    color: #a6c9f1
}

.mind-body-heading {
    margin-bottom: 15px;
}